.main_screen {
    margin-top: 80px;
    padding: 16.5px 0;
}
.main_screen .title {
    margin: 0;
    margin-left: 5px;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.main_screen .btn_group {
    margin-top: 35px;
}
.main_screen .btn_group .enter_btn {
    width: 128px;
    height: 52px;
    background: #FF685B;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #fff;
    margin-right: 10px;
}
.main_screen .btn_group .contacts_btn {
    width: 155px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #FF685B;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FF685B;
}